.page-footer {
  margin: 0 auto;
  width: 60%;
  border-color: rgb(118, 118, 118);
}

.footer-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #484848;
}

.page-footer section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(118, 118, 118);
  font-weight: 300;
  font-size: 14px;
  margin: 30px 0;
}

.page-footer section .footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.page-footer section .footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer section .footer-right li {
  margin: 0 8px;
  font-size: 14px;
}

.page-footer section .footer-right li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer section .footer-right li:last-child {
  margin-right: 15px;
}

.page-footer section .footer-right svg {
  fill: rgb(118, 118, 118);
  color: rgb(118, 118, 118);
  font-size: 20px;

}

.page-footer section .footer-right img {
  height: 45px;
  margin: -25px -15px -25px 0px;
  z-index: -1;
}
