.home-page {
  background: url('./s.png');
  background-size: cover;
  width: 100vw;
  min-height: 550px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-page main p {
  font-weight: 600;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
}
