.home-page {
  background-image: url(s.png);
  background-size: cover;
  width: 100vw;
  min-height: 550px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -webkit-animation: home-page ease 24s both infinite;
  -moz-animation: home-page ease 24s both infinite;
  animation: home-page ease 24s both infinite; */

  /*-- Fallback image for desktop --*/
  background-image: url(https://s3.amazonaws.com/balmybnb-dev/1.png);
  background-image: url(https://s3.amazonaws.com/balmybnb-dev/3.png);
  /* background-image: url(https://s3.amazonaws.com/balmybnb-dev/2.jpg); */
  /* background-image:url(https://s3.amazonaws.com/balmybnb-dev/seashells.jpeg); */
}
/*
@keyframes home-page {
  0% {
    background-image: url(https://s3.amazonaws.com/balmybnb-dev/3.png);
  }
  34% {
    background-image: url(https://s3.amazonaws.com/balmybnb-dev/2.jpg);
  }
  50% {
    background-image: url(https://s3.amazonaws.com/balmybnb-dev/1.png);
  }
  75% {
    background-image: url(https://s3.amazonaws.com/balmybnb-dev/4.png);
  }
  100% {
    background-image: url(https://s3.amazonaws.com/balmybnb-dev/3.png);
  }
} */

.home-page main p {
  font-weight: 600;
  font-size: 2.75em;
  color: white;
  text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
}

.home-explore-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  color: #484848;
}

.home-explore-section > ul > a {
  text-decoration: none;
  width: 250px;
  height: 75px;
  border: 1px solid #DBDBDB;
  display: flex;
  overflow: hidden;
  border-radius: 3px;
  color: #484848;
}

.home-explore-section > ul > a > li {
  width: 100%;
  display: flex;
}

.home-explore-item-picture {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightyellow;
}

.home-explore-section h1 {
  font-weight: bold;
  font-size: 27px;
  margin: 30px 0 20px 0;
}

.home-explore-section h3 {
  font-weight: bold;
  font-size: 17px;
}

.home-explore-item-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
}

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.home-search-bar {
  width: 820px;
  outline: none;
  height: 70px;
  border: none;
  margin-top: 20px;
  font-size: 1.2em;
  border-radius: 4px;
  box-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
  padding: 12px;
  padding-left: 55px;
  color: #484848;
}
.home-search-bar-wrapper {
  position: relative;
}

.home-search-bar-wrapper > i {
  position: absolute;
  top: 40px;
  color: rgb(118, 118, 118);
  font-size: 33px;
  left: 15px;
}

.home-search-button {
  width: 13%;
  height: 50px;
  border: none;
  background-color: #FC515F;
  color: white;
  font-size: 19px;
  font-weight: lighter;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  right: 12px;
}

.pac-item {
  font-family: 'Open Sans';
  font-size: 18px;
  min-height: 45px;
  color: #484848;
  display: flex;
  align-items: center;

}

.pac-item-query {
  font-family: 'Open Sans';
  font-size: 18px;
  color: #484848;
}

.pac-item:hover, .pac-item-selected {
  background-color: rgba(0, 132, 137, .3);
}

.pac-matched {
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 400;
}

.pac-icon {
  font-size: 20px;
  color: black;
  width: 15px;

  height: 20px;
  margin-right: 7px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
  background-size: 34px;
  background-image: none;
}

.pac-icon:after {
  font-family: 'Material Icons';
  content: "e55f";
  color: black;

}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}


.home-explore-mosaic {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap:wrap;
}

.home-explore-mosaic > div {
}

.home-explore-mosaic > div:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.01);

}

.home-explore-mosaic > div > h3 {
  color: white;
  font-size: 25px;
  text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
  padding-top: 10px;
  padding-left: 10px;
  font-weight: lighter;
}

.home-explore-mosaic-1x {
  width: 25%;
  height: 350px;
}

.home-explore-mosaic-2x {
  width: 49%;
  height: 350px;
  margin: 2% 2% 0 0;
}

.home-explore-mosaic-2x:nth-of-type(odd) {
  margin-right: 0px;
}

.home-explore-mosaic-4x {
  width: 100%;
  height: 350px;
}

.australia {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url(https://s3.amazonaws.com/balmybnb-dev/australia.jpg);
}

.california {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url(https://s3.amazonaws.com/balmybnb-dev/malibu.jpeg);
}

.home-explore-mosaic > .california > h3 {
  /* text-shadow: 6px 2px 40px rgb(22, 23, 31); */
}

.miami {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url(https://s3.amazonaws.com/balmybnb-dev/miami.jpeg);
}

.panama {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url(https://s3.amazonaws.com/balmybnb-dev/panama.jpeg);
}

.maldives {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url(https://s3.amazonaws.com/balmybnb-dev/maldives.jpeg);
}
