.spot-index-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 25px;
  margin-top: 105px;
  color: #484848;
}

.spot-index-left-items {
  width: 66.66%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.spot-index-left-items > ul {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: start;
  align-items: start;
}

.spot-index-left-items > ul > a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
    width: 33.33%;
    max-height: 400px;
    max-width: 390px;
    margin: 0 8px;

    /* iffy */
    width: 32.33%;
}

.spot-index-header > h1 {
  margin-right: auto;
  font-size: 28px;
  font-weight: bold;
}

.spot-index-header > p {
  font-weight: lighter;
  font-size: 19px;
  margin-top: 10px;
}

.spot-index-right-map {
  width: 33.33%;
  height: 70vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  position: fixed;
}

.spot-index-right-map-section {
  width: 33.33%;
  margin-right: 60px;
}

.spot-index-item {
  /* width: 33.33%; */
  height: 375px;
  /* max-height: 400px;
  max-width: 390px;
  margin: 0 8px; */
}

.spot-index-left-items > ul > a:nth-of-type(3n - 2) {
  margin-left: 0;
}

.spot-index-left-items > ul > a:nth-of-type(3n) {
  margin-right: 0;
}

.spot-index-item > h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3em;
}

.spot-index-item > p:first-of-type {
  font-weight: lighter;
  font-size: 16px;
  margin-top: 2px;
}


/* classes to apply for fixed nav-bar when on spots page */

.spot-index-nav-bar {
  position: fixed;
  margin-top: 0;
  z-index: 1;
  top: 0px;
}

/* slick-react styling */
.slick-arrow.slick-next {
  right: 0;
}

.slick-arrow.slick-prev {
  z-index: 1;
  left: 0;
}

.slick-dots {
  bottom: 0px;
}

.slide-wrapper {
  background-color: #EF4836;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}

.slick-arrow {
  height: 100%;
  width: 15%;
}

.slide-wrapper > img {
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
}

.slick-list {
  border-radius: 5px;
}
