.spot-show-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #484848;
}

.spot-show-slider {
  height: 510px;
  width: 100%;
  background-color: #F1A9A0;
  object-fit: cover;
}

.spot-show-main {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.spot-show-header {
  font-weight: bold;
  font-size: 33px;
  line-height: 1.35em;
  margin-top: 20px;
  margin-bottom: 15px;
}

.spot-show-main {
  font-size: 17.5px;
  font-weight: lighter;
  line-height: 1.4em;
  flex-direction: row;
}

.review-form {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #cacccd;
  padding: 25px;
}

.review-form > label {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-form > label > span {
  font-size: 10px;
}

.width-35 {
  width: 35%;
}

.review-form > label > input, .review-form > label > textarea {
  font-size: 19px;
  font-weight: lighter;
  padding: 11px;
  margin: 0px 0px 15px;
  color: rgb(72, 72, 72);
  outline: transparent 0px;
  border: 1px solid rgb(219, 219, 219);
  box-sizing: unset;
}

.review-form > label > textarea {
  height: 145px;
  resize: none;
}

.flex-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-index-item {
  min-height: 150px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid #cacccd;
}

.review-index-item:last-of-type {
  border-width: 0px;
}

.review-index-item > h1 {
  font-weight: 400;
  font-size: 16px;
}

.review-index-item > p {
  font-size: 15px;
}

.review-rating-stars {
  margin-left: 8px;
  display: flex;
  color: #F7CA18;
  margin-bottom: -7px;
}

.review-rating-stars > li > i {
  font-size: 18px;
}

.review-index-header {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-index > h2 {
  font-weight: bold;
  font-size: 23px;
}




.review-form-stars {
  margin-right: auto;
}

.review-form-stars > input { display: none; }
.review-form-stars > label:before {
  margin: 5px;
  font-size: 22px;
  font-family: Material Icons;
  display: inline-block;
  content: "star";
}

.review-form-stars > label {
  color: #ddd;
 float: right;
}

.review-form-stars > input:checked ~ label,
.review-form-stars:not(:checked) > label:hover,
.review-form-stars:not(:checked) > label:hover ~ label { color: #F7CA18;  }

.review-form-stars > input:checked + label:hover,
.review-form-stars > input:checked ~ label:hover,
.review-form-stars > label:hover ~ input:checked ~ label,
.review-form-stars > input:checked ~ label:hover ~ label { color: #F7CA18; }

.review-form-stars > label:hover {
  cursor: pointer;
}
.review-form-stars {
  margin-bottom: 5px;
}
